:root {
    --gray-1: #fff;
    --gray-2: #979aa7;
    --gray-3: #6d7480;
    --gray-4: #424551;
    --gray-5: #06080c;
    --gray-6: #1b1d22;
    --gray-7: #363a44;
    --gray-8: #202227;
    --gray-9: #252931;
    --gray-10: #00000040;
    --gray-11: #2f323b;
    --gray-12: #2e3138;
    --gray-13: #3b404b;
}
